.blog-style1{
  background-color: $title-color;
  padding: 40px 30px;
  border-radius: 20px;
  .blog-img{
    position: relative;
    border-radius: 20px;
    img{
      border-radius: 20px;
      width: 100%;
      transition: all 0.5s ease;
    }
    .shep-btn {
      position: absolute;
      right: -1px;
      bottom: -1px;
      transform: rotate(90deg);
      svg path {
        fill: $title-color !important;
      }
    }
  }
  .blog-date{
    bottom: unset;
    top: -20px;
    right: 20px;
  }
  .blog-inner {
    position: relative;
    margin-top: 40px;
  }
  .icon-btn{
    color: $white-color;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    i{
      transform: rotate(0);
      transition: all 0.5s ease;
    }
    &:hover{
      transform: rotate(-30deg);
    }
  }
}
.blog-layout1{
  background-color: $title-color;
  position: relative;
  overflow: hidden;
  .blog-style1{
    background-color: $body-color;
    margin-bottom: 0;
    .shep-btn svg path {
      fill: $body-color !important;
    }
  }
  .title-area {
    margin-top: -5px;
  }
  &.custom-space{
    padding-top: 120px;
    padding-bottom: 240px;
  }
}
.title-arraw{
  .icon-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: $white-color;
    background-color: $body-color;
    &:not(:last-child){
      margin-right: 5px;
    }
    &:hover{
      background-color: $secondary-color;
    }
  }
}


blockquote {
  &:before {
    content: '\f10e';
    font-family: $icon-font;
    position: absolute;
    top: auto;
    right: 38px;
    bottom: 15px;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    color: #49413A;
  }
  cite {
    display: inline-block;
    font-size: 20px;
    position: relative;
    padding-left: 32px;
    line-height: 150%;
    font-weight: 600;
    margin-top: 2px;
    font-style: normal;
    font-family: $title-font;
    color: $white-color;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 4px;
      border-radius: 30px;
      border-top: 2px solid $theme-color;
    }
  }
}
blockquote.vs-quote {
    text-align: left;
    padding: 35px 50px;
    border-left: 0px solid var(--theme-color);
    border-radius: 30px;
    border: 1px solid var(--vs-border-color7);
    margin: 30px 0;
    position: relative;
    background-color: $title-color;
    overflow: visible;
  &::after {
    position: absolute;
    content: "";
    height: 125px;
    width: 4px;
    background-color: var(--theme-color);
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 5px 5px 0;
  }

  p {
    color: $white-color;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-family: $body-font;
  }
}
.video-img{
  img{
    border-radius: 20px;
  }
}
.blog-details{
  .blog-img{
    position: relative;
    img{
      border-radius: 30px;
    }
  }
  .blog-inner-title{
    color: $white-color;
    margin-bottom: 50px;
    padding-bottom: 14px;
  }
}
.blog-date {
  width: 70px;
  color: $title-color;
  background-color: $secondary-color;
  font-size: 30px;
  font-weight: 700;
  font-family: $title-font;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-direction: column;
  border-radius: 10px;
  line-height: 110%;
  overflow: hidden;
  padding-top: 10px;
  position: absolute;
  bottom: 60px;
  right: 60px;
  span {
    display: block;
    font-size: 13px;
    line-height: 1;
  }
  .month{
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 8px;
    font-family: $body-font;
    line-height: 170%;
  }
  .year{
    color: $theme-color;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    background-color: $title-color;
    width: 100%;
    padding: 3px;
    font-family: $body-font;
  }
}
.vs-comment-form{
  .vs-btn{
    &:hover{
      background-color: $secondary-color;
    }
  }
}
.blog-meta {
  span,
  a {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: $white-color;
    text-transform: capitalize;
    line-height: 160%;
    font-family: $body-font;
    &:last-child {
      margin-right: 0;
    }
    i {
      font-size: 16px;
      margin-right: 10px;
      color: $white-color;
      transition: all 0.5s ease;
    }
  }

  a:hover {
    color: $theme-color;
    i{
      color: $theme-color;
    }
  }
}
.blog-category {
  margin-bottom: -10px;
  a {
    display: inline-block;
    color: $white-color;
    padding: 4.5px 24.5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: $theme-color;

    &:hover {
      background-color: $white-color;
      color: $body-color;
      border-color: $theme-color;
    }
  }
}
.blog-title {
  a {
    color: $white-color;
    text-transform: capitalize;

    &:hover {
      color: $theme-color;
    }
  }
}
.vs-blog {
  margin-bottom: 30px;
}
.share-links-title {
  font-size: 20px;
  line-height: 150%;
  color: $white-color;
  font-family: $title-font;
  font-weight: 700;
  margin: 0 15px 0 0;
  display: inline-block;
}
.share-links {
  border-top: 1px solid $smoke-color;
  border-bottom: 1px solid $smoke-color;
  padding: 40px 0;
  position: relative;

  .row {
    align-items: center;
    --bs-gutter-y: 15px;
  }

  .tagcloud {
    display: inline-block;
  }

  .social-links {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      width: var(--icon-size, 40px);
      height: var(--icon-size, 40px);
      line-height: var(--icon-size, 40px);
      color: $theme-color;
      background-color: $title-color;
      border: none;
      padding: 0;
      display: inline-block;
      text-align: center;
      color: $title-color;
      border-radius: 6px;
      transition: all ease 0.4s;
      position: relative;
      z-index: 1;
      i{
        color: $theme-color;
      }
      &:hover {
        color: $title-color;
        background-color: $theme-color;
        i{
          color: $title-color;
        }
      }
    }
  }
}
.blog-inner-author {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $body-font;
  color: $title-color;
  font-weight: 700;

  a {
    color: inherit;
  }

  .blog-date {
    margin-left: 3px;
    
    &:before {
      content: '-';
      margin-right: 5px;
    }
  }
  
  img {
    width: 67px;
    height: 67px;
    padding: 3px;
    margin-right: 10px;
    background-color: $theme-color;
    border-radius: 50%;
  }
}
.blog-single {
  position: relative;
  margin-bottom: 50px;
  border: 1px solid #bfbfbf;
  
  .blog-title {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.2;
  }

  .blog-meta {
    margin-bottom: 4px;
  }

  .blog-text {
    margin-bottom: 26px;
  }

  .blog-audio,
  .blog-img {
    position: relative;
    background-color: $smoke-color;
    margin: -1px;
  }

  .blog-audio {
    line-height: 1;
  }

  .blog-img {
    .slick-arrow {
      --pos-x: 30px;
      border: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: $white-color;
      color: $secondary-color;
      border-radius: 50%;
      font-size: 20px;

      &:hover {
        background-color: $secondary-color;
        color: $white-color;
      }
    }   
  }

  .blog-content {
    overflow: hidden;
    padding: 26px 40px 35px 40px;
  }

  &:hover {
    .blog-img {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.blog-details {
  .blog-title{
    color: $white-color;
  }
  .blog-single {
    .blog-content {
      padding: 0;
      border: none;
    }
  }
}
.blog-group-imgs{
  img{
    border-radius: 20px;
  }
}
.video-img{
  position: relative;
  .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}



.blog-layout2{
  position: relative;
  .blog-title{
    margin-bottom: 0;
  }
  .blog-inner {
    position: relative;
    margin: 0px 0 25px;
  }
  
}
.blog-style2{
  padding: 40px 30px 32px;
  background-color: $body-color;
  border-radius: 20px;
  .blog-date {
    bottom: 25px;
    top: unset;
    right: 20px;
    background-color: $theme-color;
  }
  .blog-img{
    overflow: hidden;
    border-radius: 20px;
    img{
      width: 100%;
    }
    .shep-btn {
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: unset;
      transform: rotate(0deg);
      svg path {
        fill: $body-color !important;
      }
    }
  }
  .icon-btn{
    color: $white-color;
    font-weight: 600;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    i{
      transform: rotate(0);
      transition: all 0.5s ease;
    }
    &:hover{
      transform: rotate(-30deg);
    }
  }
}


@include lg {
  blockquote {
    font-size: 18px;
    padding: 23px 30px 26px 30px;
  }

  blockquote.vs-quote {
    padding: 26px 60px 26px 130px;

    p {
      font-size: 20px;
      line-height: 30px;
    }

    &:before {
      font-size: 5rem;
      left: 25px;
    }
  }

  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 30px;

    .blog-title {
      font-size: 30px;
    }    
  }
}
@include md{
  .blog-details .blog-date{
    right: 20px;
    bottom: 20px;
  }
}
@include sm {
  blockquote {
    font-size: 16px;
    padding: 23px 15px 26px 15px;

    &:before {
      right: 30px;
      bottom: 30px;
      font-size: 2rem;
    }

    cite {
      margin-top: 17px;
      font-size: 14px;

      &::before {
        bottom: 6px;
      }
    }
  }

  blockquote.vs-quote {
    padding: 26px 20px 26px 20px;

    &:before {
      content: '\f10e';
      left: auto;
      top: auto;
      transform: none;
      right: 20px;
      bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  }

  .share-links {
    padding: 17px 20px;
  }

  .share-links-title {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
  }
  
  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 20px;

    &:not(.has-post-thumbnail) {
      .blog-content {
        padding: 40px 20px;
      }
    }

    .blog-title {
      font-size: 24px;
      line-height: 1.6;
    }

    .blog-meta {
      >span,
      a {
        &:not(:last-child){
          &:after {
            content: "";
            margin: 0 10px 0 14px;
          }
        }
      }
    }
  }

  .blog-details {
    &:not(.has-post-thumbnail) {
      .blog-content {
        padding: 0;
      }
    }
  }
  .blog-style2 .blog-date {
    bottom: 10px;
    top: unset;
    right: 10px;
  }
}