.vs-pagination {
  margin-bottom: 0px;
  text-align: center;
  margin-top: 30px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  span,
  a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: $title-font;
    color: $theme-color;
    display: inline-block;
    border: 1px solid $theme-color;
    border-radius: 6px;
    background-color: $title-color;
    &.active,
    &:hover{
      color: $white-color;
      background-color: $theme-color;
    }
  }

  li {
    display: inline-block;
    margin: 0 3px;
    list-style-type: none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

.post-pagination {
  border-bottom: 1px solid $smoke-color;
  .pagi-icon{
    font-size: 40px;
    color: $theme-color;
    transition: all 0.4s ease;
    &:hover{
      color: $secondary-color;
    }
  }
}

.post-pagi-box {
  display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px 0px;
  > a {
    img{
      border-radius: 6px;
    }    
    span{
      display: inline-block;
      font-family: $title-font;
    }

    &:hover {
      color: $theme-color
    }
  }

  .pagi-title {
    font-size: 20px;
    font-weight: 600;
    color: $white-color;
    font-family: $title-font;
    line-height: 30px;
    flex: 1;
  }  
  &.prev{
    .pagi-title{
      text-align: left;
    }
  }
  &.next {
    flex-direction: row-reverse;
    text-align: right;
  }
}

@include ml {
  .post-pagination {
    margin: 40px 0;
  }
}

@include lg{
  .post-pagi-box .pagi-title {
    font-size: 16px;
}
.tagcloud{
    a{
    padding: 5px;
    }
  }
}
@include md {
  .vs-pagination {
    span, 
    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      padding: 0 10px;
      vertical-align: middle;

      i {
        vertical-align: middle;
      }
    }
    
  }

  .post-pagi-box {
    padding: 20px 0px;
    >a {
      margin-bottom: 10px;
    }
  }

}
@include sm{
  .post-pagi-box {
    padding: 20px;
    display: block;
    img{
      margin-bottom: 10px;
    }
    .pagi-title{
      font-size: 12px;
      display: block;
    }
    
  }
  .pagi-icon {
    display: none;
  }
  .tagcloud{
    a{
    padding: 5px 10px;
    }
  }
  .post-pagination {
    margin: 40px 0;
    padding-bottom: 0;
}
}